---
import * as Task from 'fp-ts/lib/Task';
import * as ReaderTask from 'fp-ts/lib/ReaderTask';
import { pipe } from 'fp-ts/lib/function';
import * as app from 'src/app';
import Root from 'src/layouts/Root.astro';
import Body from 'src/layouts/Body.astro';
import Head from 'src/layouts/Head.astro';
import Tags from 'src/views/Tags.astro';

const main = async () => {
  return pipe(
    Task.fromIO(app.getAppContext),
    Task.map(context => ({
      ...context,
      locale: 'en' as const,
    })),
    Task.chain(pipe(
      ReaderTask.Do,
      ReaderTask.apS('context', ReaderTask.ask<app.types.AppPageContext>()),
      ReaderTask.bind('router', ({context}) => ReaderTask.of(app.toRouter(context))),
      ReaderTask.bind('time', ({context}) => ReaderTask.of(app.toTime(context))),
      ReaderTask.apS('localization', app.getLocalization),
      ReaderTask.apS('translations', app.getTranslations),
      ReaderTask.apS('profile', app.getProfile),
    ))
  )()
}

const {
  router,
  time,
  localization,
  profile,
  translations
} = await main();
---
<Root router={router}>
  <Head title="Tags" />
  <Body profile={profile} localization={localization} router={router} time={time}>
    <Tags router={router} translations={translations} />
  </Body>
</Root>
