---
import { Image } from 'astro:assets';
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import * as core from 'src/core';
import type { Router } from 'src/capabilities/router';
import Content from 'src/layouts/Content.astro';
import Title from 'src/components/Title.astro';

interface Props {
  router: Router;
  about: core.types.About;
  profile: core.types.Profile;
}

const { router, about, profile } = Astro.props;
---
<Content>
  <Fragment slot="body">
    <section class="sm:pb-12 pb-12 mb-12">
      <Title class="">
        {about.title}
      </Title>
      <Image class="sm:hidden block mb-8 max-h-64 grayscale-[90%] w-full object-cover rounded-sm" src={about.image.url} width={about.image.width} height={about.image.height} alt="title image" />
      <article set:html={documentToHtmlString(about.body as any)} />
    </section>
  </Fragment>
  <Fragment slot="image">
    <Image class="grayscale-[90%] w-full object-cover rounded-sm" src={about.image.url} width={about.image.width} height={about.image.height} alt="title image" />
  </Fragment>
</Content>

<style>
  .site-title {
    font-family: 'Karla-SemiBold';
  }
  .section {
    grid-template-rows: 1fr auto;
    @apply grow grid grid-cols-8 w-full;
  }
</style>
