---
import { Image } from 'astro:assets';
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import * as core from 'src/core';
import type { Router } from 'src/capabilities/router';
import TranslationPreview from 'src/components/TranslationBlockPreview.astro';

interface Props {
  router: Router;
  about: core.types.About;
  profile: core.types.Profile;
  translations: ReadonlyArray<core.types.Translation>;
}

const { router, translations, about, profile } = Astro.props;
---
<main class="flex-grow w-full">
  <section class="sm:pb-10 pb-10 mb-10 border-gray-200 border-b">
    <h1 class="title sm:text-5xl text-4xl text-gray-800 mb-4">
      {profile.name}
    </h1>
    <h2 class="text-xl text-gray-700 mb-10">
      {profile.title}
    </h2>
    <Image class="block mb-10 max-h-80 grayscale-[90%] w-full object-cover rounded-sm" src={about.image.url} width={about.image.width} height={about.image.height} alt="title image" />
    <div class="flex flex-col items-start text-gray-500 text-sm sm:text-base">
      <ul class="flex flex-row flex-wrap w-full mb-1">
        <li class="mr-3">
          <a class="text-link" href={`mailto:${profile.email}`}>
            {profile.email}
          </a>
        </li>
        {profile.linkedinUrl && (<li class="mr-3">
          <a class="text-link" href={profile.linkedinUrl}>
            LinkedIn
          </a>
        </li>)}
        {profile.instagramUrl && (<li class="mr-3">
          <a class="text-link" href={profile.instagramUrl}>
            Instagram
          </a>
        </li>)}
        {profile.twitterUrl && (<li class="mr-3">
          <a class="text-link" href={profile.twitterUrl}>
            Twitter
          </a>
        </li>)}
      </ul>
      <ul class="flex flex-row flex-wrap">
        <li class="mr-2">
          <a class="text-link" href={profile.resumeEn.url} target="_blank">
            Resume
          </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="sm:pb-10 pb-10 mb-10 border-gray-200 border-b">
    <span class="block text-lg text-gray-600 sm:mb-8 mb-6 tracking-wide">
      About
    </span>
    <article set:html={documentToHtmlString(about.body as any)} />
  </section>
  <section class="sm:pb-10 mb-10">
    <span class="block text-lg text-gray-600 sm:mb-8 mb-6 tracking-wide">
      Projects
    </span>
    <ul class="w-full">
      {translations.map(translation => (
        <li class="pb-8 mb-10 border-b border-gray-200">
          <TranslationPreview router={router} translation={translation} />
        </li>
      ))}
    </ul>
  </section>
</main>

<style>
  .title {
    @apply font-semibold;
    font-family: "Georgia","Times New Roman","sans-serif";
  }
  .section {
    grid-template-rows: 1fr auto;
    @apply grow grid grid-cols-8 w-full;
  }
</style>
